@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto&display=swap%27");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f3f3;
}
header {
  display: flex;
  background-color: #222222;
  height: 100px;
}
.letras-blancas {
  margin-right: 20px;
  padding: 10px;
  word-spacing: 10px;
  font-size: 20px;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  color: white;
}
.logo-arriba {
  padding: 10px;
  margin-left: 20px;
}
.padre {
  height: 700px;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.DeliveryMan {
  padding: 30px;
  color: red;
  width: 700px;
  height: 400px;
  background-image: url(../img/delivery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  color: red;
}

.CBlanco {
  color: white;
}
.padreTop {
  width: 700px;
  height: 400px;
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
}
h3 {
  margin-bottom: 10px;
}
.top5 {
  font-weight: bold;
  text-align: left;
  line-height: 30px;
}
.PodioEImagen {
  height: 300px;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
}
 footer {
  font-size: 25px;
  padding: 20px;
  background-color: #222222;
  height: 200px;
  display: flex;
  width: auto;
  line-height: 40px;
  justify-content: space-between;
  align-items: center;
 }
.navAbajo {
  display: flex;
  color: #ffffff;
  align-content: center;


}
.logoAbajo {
  height: 110px;
}